php_flag magic_quotes_gpc off
php_value memory_limit 128M
php_value post_max_size 64M
php_value upload_max_filesize 64M

Options -Indexes -MultiViews
RewriteEngine on

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !(server-status)
RewriteCond %{REQUEST_FILENAME} !(.*)\.(css|js|gif|jpg|png|mp3|swf|jpeg|txt|ico|dll|asp)$
RewriteRule ^(.*)$ /index.php?%{QUERY_STRING}

#RewriteRule !\.(js|ico|gif|jpg|jpeg|png|css|txt|xml)$ index.php