* { border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; margin: 0; padding: 0; }

html, body { height: 100%; position: relative; color: #343538; font-family: Lucida Grande, Arial, tahoma, verdana, sans-serif; font-size: 12px; line-height: 1.167; }

ul { list-style: none; }

ul.disc { margin: 10px 0 15px; }

ul.disc li { list-style-type: disc; margin-left: 30px; padding: 0 0 5px; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

select, input, textarea { font-size: 99%; }

h3 { font-size: 17px; }

h4 { font-size: 14px; }

a { color: #2b587a; }

a:hover { text-decoration: none; border-color: transparent; }

ol { list-style-type: decimal; padding-left: 20px; }

small { font-size: 85%; }

strong, th { font-weight: 700; }

textarea { overflow: auto; font-family: Arial, Helvetica, sans-serif; }

label, input[type=submit] { cursor: pointer; }

body { overflow-y: scroll; }

#vapp-wrapper.fixed { left: 0; padding: 0 19px 0 0; position: fixed; right: 0; top: 0; }

#vapp-header { height: 50px; position: fixed; left: 0; top: 0; right: 0; background: #567ca4; }

.vapp-logo { background: url("http://st0.vk.me/images/dev_logo_vk.png") no-repeat scroll 10px 15px transparent; font-weight: bold; padding: 0 15px 0 51px; height: 50px; line-height: 48px; color: #fff; font-size: 13px; }

.vapp-header_link { padding: 0 15px; height: 50px; line-height: 48px; color: #fff; font-size: 13px; text-decoration: none; }
.vapp-header_link:hover { background: #51759B; }
.vapp-header_link:active, .vapp-header_link.active { background: #4B6D94; }

#vapp-content { padding: 70px 0 0; }

.vapp-content { max-width: 1280px; margin: 0 auto; }

.btn { display: inline-block; background: #41658c; font-size: 13px; line-height: 30px; border-radius: 2px; padding: 0 10px; color: #fff; cursor: pointer; }
.btn:hover { background: #527eae; }
.btn:active { background: #314c69; }

.vapp-friend_item { display: inline-block; vertical-align: top; width: 20%; margin: 0 2% 20px; }
.vapp-friend_item .vapp-friend_item_img { max-width: 100px; background-position: center center; background-repeat: no-repeat; margin: 0 0 20px; }
.vapp-friend_item img { display: block; width: 100%; border-radius: 50%; }

.vapp-video_item { display: inline-block; vertical-align: top; width: 20%; margin: 0 2% 20px; }
.vapp-video_item .vapp-video_item_img { background-position: center center; background-repeat: no-repeat; margin: 0 0 20px; }
.vapp-video_item img { display: block; width: 100%; }

.popup-wrap { background-color: rgba(255, 255, 255, 0.9); background-position: center center; background-repeat: no-repeat; background-size: cover; text-align: center; position: absolute; min-height: 100%; left: 0; top: 0; right: 0; -webkit-perspective: 1000px; -moz-perspective: 1000px; -ms-perspective: 1000px; perspective: 1000px; z-index: 3; }

.popup-video { display: inline-block; *display: inline; *zoom: 1; z-index: 1000; text-align: left; margin: 0; }

.popup-box { margin: 0 auto; display: block; z-index: 1000; text-align: left; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out; -webkit-transform: translateY(10); -moz-transform: translateY(10); -ms-transform: translateY(10); transform: translateY(10); opacity: 0; }

.popup-box.opened { -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); opacity: 1; }

.popup-box.closed { -webkit-transform: translateY(-10); -moz-transform: translateY(-10); -ms-transform: translateY(-10); transform: translateY(-10); opacity: 0; }

.popup-box.invisible { height: 0; overflow: hidden; }

.popup-header { text-align: center; position: relative; }

.popup-close:hover { opacity: .8; }

.popup-close { display: block; position: absolute; top: 42px; right: 53px; width: 38px; height: 36px; cursor: pointer; background: url(../img/sp.png) -579px -300px; }

.popup-content { padding: 40px 16px; background: #fff; background: rgba(255, 255, 255, 0.8); box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3); }

@media (max-width: 720px) { .vapp-logo { width: 0; padding-right: 0; overflow: hidden; }
  .vapp-header_link { padding: 0 15px; }
  #vapp-header { position: static; }
  #vapp-content { padding: 10px 0 0; } }
/* helpers */
.h { display: none; }

.o_h { overflow: hidden !important; }

.prevent-selection { -moz-user-select: none; -khtml-user-select: none; user-select: none; }

.nclear { display: inline-block; }

.nclear { display: block; }

.nclear:after { content: "."; clear: both; font-size: 0; line-height: 0; height: 0; overflow: hidden; visibility: hidden; display: block; }

.fl-l { float: left; }

.fl-r { float: right; }

.ta-l { text-align: left; }

.ta-r { text-align: right; }

.ta-c { text-align: center; }

.unselectable { -moz-user-select: none; -khtml-user-select: none; user-select: none; -webkit-user-select: none; -o-user-select: none; -ms-user-select: none; }

.selectable { -moz-user-select: initial; -khtml-user-select: initial; user-select: initial; -webkit-user-select: initial; -o-user-select: initial; -ms-user-select: initial; }

.fixed_hack { -webkit-transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; -webkit-perspective: 1000; -webkit-transform-style: flat; }

/*# sourceMappingURL=vapp.css.map */
